*{height: auto; margin:0; padding:0; font-family:"寰蒋闆呴粦";}
body{min-width:1200px;}
li{ list-style: none;}
a{text-decoration:none;}
/*header css*/
#header .left{
	float:left;
}
#header .top{
	width:100%;
	background-color: #fff;
	height:62px;
	line-height: 62px;
}
#header .top h1{
	width:70px; 
	font-size:20px;
	color:#777;
	background:url(../images/logo.png) no-repeat center;
	background-size:32px;
	padding-left:120px;
}
#header .top ul{
	padding-left:50px;
}
#header nav{
	float:right;
	height:62px;
	width:700px;
	position:relative;
}
#header .top ul li{
	display: inline-block;
	padding:0 20px;
	height:57px;
	color:#393a3a;
	font-size:14px;
	cursor: pointer;
	-webkit-transition:color 0.5s ease-in-out;
    -moz-transition:color 0.5s ease-in-out;
    transition:color 0.5s ease-in-out;
}
#header nav ul li:hover{
    color: #F04C57;
}
#header .top ul .move{
    position: absolute;
    width: 30px;
    border-top: 4px solid #E53C3C;
    left:50px;
    top: 58px;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
}
#header nav ul li:nth-child(1):hover~.move{
    left: 50px;
}
#header nav ul li:nth-child(2):hover~.move{
    left: 136px;
}
#header nav ul li:nth-child(3):hover~.move{
    left: 238px;
}
#header nav ul li:nth-child(4):hover~.move{
    left: 338px;
}
#header nav ul li:nth-child(5):hover~.move{
    left: 438px;
}
#header nav ul li:nth-child(6):hover~.move{
    left: 539px;
}
#header nav .login{
	background:url(../images/login.png) no-repeat left;
	color:#ED8476;
	padding-left:30px;
	margin-right: 10px;
}
#header .banner{
	background: url(../images/bg.jpg) no-repeat center;
	height:690px;
	position:relative;
	width:100%;
	background-size:cover;
}
#header .banner h1,h2,button{
	position:absolute;
	color:#fff;
}
#header .banner h1{
	margin: 220px 100px;
	font-size: 65px;
	font-weight: 100;
}
#header .banner h2{
	margin: 300px 100px;
	font-size: 20px;
	font-weight: 100;
	padding-top: 20px;
}
#header .banner button{
	margin:410px 100px;
	width:333px;
	height:66px;
	border:none;
	background:#E7504D;
	font-size:30px;
	cursor: pointer;
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}
#header .banner button:hover{
    background-color:#E31212;
}
/* tntroduce css */
#header .introduce{
	height:250px;
	background:#fff;
}
.list_1{ background:url(../images/list_1.png) no-repeat center;}
.list_2{ background:url(../images/list_2.png) no-repeat center;}
.list_3{ background:url(../images/list_3.png) no-repeat center;}
.list_4{ background:url(../images/list_4.png) no-repeat center;}
#header .introduce ul li{
	width:24%;
	text-align: center;
	display: inline-block;
	margin-top: 10px;
	height:100px;
	padding-top:50px;
}
#header .introduce .line{
	border-right:2px solid #999;
	font-size:14px;
	margin-top:80px;
	color:#777;
}
#header .introduce .line_no{
	border:none;
}
/* containtent first css */
#container .con_1{
	height:360px;
	background:url(../images/logo.png) no-repeat center #EDEDEC;
	text-align: center;
}
#container .con_1 p{
	padding-top: 250px;
	font-size: 50px;
	color:#777;
}
#container .con_2 {
	height:340px;
	background:url(../images/map.jpg) no-repeat center;
	text-align:center;
	color:#fff;
	background-size:cover;
}
#container .con_2 .title_1{
	font-size:20px;
	padding-top:50px;
}
#container .con_2 .line_1{
	width:30px;
	height:2px;
	margin:10px auto;
	background:#fff;
}
#container .con_2 .title_2{
	font-size:12px;
	color:#fff;
	line-height: 50px;
}
#container .con_2 .options{
    height: 36px;
}
#container .con_2 input[type="radio"]{
    width: 240px;
    height: 36px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top: 47px;
    z-index: 10;
}
#container .con_2 .options .select{
    width: 240px;
    height: 36px;
    margin: 0 10px;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    color: #B3B3B3;    
    display: inline-block;
    position: relative;    
    border: 1px solid #C6B3AF;    
    background: url(../images/down.jpg) no-repeat 210px 8px,#fff;
    background-size: 20px;
}
#container .con_2 .options .select:last-of-type{
    visibility: hidden;
}
#container .con_2 .options .select span{
    margin-left: 10px;
}
#container .con_2 .options .select .option{
    width: 240px;
    background-color: #E3E3E5;
    position: absolute;
    z-index: 10;
    display: none;
    left: -2px;
    top: 34px;
}
#container .con_2 input[type="radio"]:nth-of-type(1):checked~.options .select,#container .con_2 input[type="radio"]:nth-of-type(2):checked~.options .select{
    top: -1px;
}
#container .con_2 input[type="radio"]:nth-of-type(1):checked~.options .select-1{
    border: 2px solid #AE7271;
    border-bottom-width: 0;
}
#container .con_2 input[type="radio"]:nth-of-type(1):checked~.options .select-1 .option{
    display: block;
}
#container .con_2 input[type="radio"]:nth-of-type(2):checked~.options .select-2{
    border: 2px solid #AE7271;
    border-bottom-width: 0;
}
#container .con_2 input[type="radio"]:nth-of-type(2):checked~.options .select-2 .option{
    display: block;
}
#container .con_2 input[type="radio"]:nth-of-type(3):checked~.options .select-3{
    border: 1px solid #C6B3AF;
}
#container .con_2 .options .select .option ul{
    margin: 0;
    padding: 0;
    width: 240px;
    border: 2px solid #AE7271;
    border-top-width: 0;
}
#container .con_2 .options .select .option ul li{
    height: 32px;
    line-height: 32px;
    text-align: left;
    padding-left: 40px;
    list-style: none;
    cursor: pointer;
}
#container .con_2 .options .select .option ul li:hover{
    background: url(../images/down.jpg) no-repeat 10px 8px,#BF4E48;
    background-size: 20px;
    color: #fff;
}
#container .con_2 input[type="submit"]{
    width: 240px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    margin: 0 10px;
    border: 0;
    outline: 0;
    background-color: #BE4F48;
    color: #fff;
    letter-spacing: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 36px;
    
    -webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
#container .con_2 input[type="submit"]:hover{
    color:#E31212;
    background-color:#fff;
}
#container .activity{
	background: #f7f7f7;
	height: 500px;
	padding-top: 150px;
}
#container .activity .city{
	display: inline-block;
	text-align: center;
	line-height: 30px;
	width: 24%;
}
#container .activity .city img{
	padding: 10px;
	border: 1px solid #ddd;
}
#container .activity .city h4{
	font-size: 16px;
	color: #333;
	font-weight: 200;
}
#container .activity .city h5{
	font-size: 14px;
	color: #999;
	font-weight: 100;
}
#container .newtime{
	width:100%;
	height:580px;
	text-align: center;
}
#container .newtime .left{
	float: left;
	height:100%;
	width: 66.6%;
	background:url(../images/newtime.png) no-repeat left;
	background-size:cover;
}
#container .newtime .left .mark_1{
	padding-top: 100px;
	font-size:50px;
	color:#fff;
}
#container .newtime .left .mark_2{
	font-size:200px;
	color:#fff;
	height:230px;
}
#container .newtime .left .mark_3{
	font-size:30px;
	color:#fff;
}
#container .newtime .right{
	float:right;	
	width:33.3%;
	height:450px;
	margin-top: 130px;
}
#container .newtime .right h1{
	font-size:20px;
}
#container .newtime .right h1 span{
	color:#C00;
	font-size:16px;
	padding-left:5px;
}
#container .newtime .right p{
	width:300px;
	margin:0 auto;
	text-align:left;
	line-height:35px;
	padding-top:40px;
	font-size:14px;
	color:#666;
}
#container .newtime .right a{
	width: 100px;
	height: 30px;
	border: 2px solid #e46868;
	color: #e46868;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
	line-height: 30px;
	-webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
#container .newtime .right a:hover{
	background-color: #f04c57;
	color: #fff;
}
#container .newtime .right ul{
	margin-top: 40px;
}
#container .newtime .right ul li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #999;
	margin: 0 5px;
	display: inline-block;
}
#container .newtime .right .mark_4{
	background-color: #808080;
}
#container .newera{
	text-align: center;
	width: 100%;
	height: 522px;
}
#container .newera .right{
	background: url(../images/newworld.png) no-repeat center;
	background-size: cover;
	float: right;
	width: 33.3%;
	height: 522px;
}
#container .newera .left,.middle{
	float: left;
	height: 522px;
	width: 33.3%;
}
#container .newera .eraCon{
	padding-top: 150px;
}
#container .newera .left{
	background-color: #ff6347;
}
#container .newera .middle{
	background-color: #fff;
}
#container .newera .left p{
	font-size: 20px;
	color: #fff;
	line-height: 35px;
}
#container .newera .middle p{
	font-size: 20px;
	line-height: 35px;
}
#container .newera a{
	display: block;
	margin: 0 auto;
	width: 180px;
	height: 40px;
	line-height: 40px;
	margin-top: 40px;
	-webkit-transition: background-color 0.5s ease-in-out;
    -moz-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
#container .newera .left a{
	border: 2px solid #fff;
	color: #fff;
}
#container .newera .left a:hover{
	background-color:  #fff;
	color: #e7504d;
}
#container .newera .middle a{
	border: 2px solid #e7504d;
	color: #e7504d;
}
#container .newera .middle a:hover{
	background-color:  #f04c57;
	color: #fff;
}
#container .newera .line_1{
	width: 40px;
	height: 2px;
	margin: 20px auto;
}
#container .newera .left .line_1{
	background-color: #fff;
}
#container .newera .middle .line_1{
	background-color: #808080;
}
#container .last .title{
	text-align: center;
	padding: 100px 0;
}
#container .last .title p{
	width: 500px;
	font-size: 12px;
	color: #666;
	margin: 10px auto;
	line-height: 20px;
}
#container .last .line_1{
	width: 40px;
	height: 2px;
	margin: 10px auto;
	background: #c00;
}
#container .information{
	height: 450px;
	width: 1100px;
	margin: 0 auto;
}
#container .information .inf_left{
	float: left;
}
#container .information .inf_left ul li{
	width: 350px;
	height: 130px;
}
#container .information .inf_left .getblod{
	font-size: 18px;
}
#container .information .inf_left .getcol{
	font-size: 12px;
	color: #aaa;
	line-height: 20px;
	margin-top: 20px;
}
#container .information .inf_left a{
	background: url(../images/more.png) no-repeat left;
	padding-left: 15px;
	color: #aaa;
	float: right;
}
#container .information .inf_left a:hover{
	color: #e31212;
}
#container .information .inf_right{
	float: right;
}
#container .information .inf_right form{
	width: 635px;
}
#container .information .inf_right input{
	width: 295px;
	height: 40px;
	border: none;background-color: #ededee;
	margin: 10px 5px;
	padding-left: 10px;
}
#container .information .inf_right textarea{
	width: 97%;
	height: 100px;
	background-color: #ededee;
	border: none;
	margin: 5px;
	font-size: 14px;
	padding-left: 10px;
}
#container .information .inf_right .sub{
	width: 100%;
	font-size: 16px;
	cursor: pointer;
}
footer{
	text-align: center;
	width: 100%;
	height: 400px;
	background-color: #778899;
	color: #fff;
}
footer .mark_5{
	padding-top: 80px;
	font-size: 30px;
	padding-bottom: 10px;
}
footer .mark_6{
	width: 600px;
	margin: 0 auto;
	line-height: 20px;
}
footer form{
	width: 600px;
	line-height: 80px;
	margin: 0 auto;
}
footer form input{
	border: none;
	margin-right: -5px;
}
footer form input[type="email"]{
	width: 77%;
	height: 40px;
	padding-left: 10px;
	font-size: 16px;
}
footer form input[type="submit"]{
	width: 20%;
	height: 40px;
	background: #696266;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
}
footer ul li{
	display: inline-block;
	padding: 20px;
	margin: 10px 0;
}
footer .foot{
	width: 100%;
	height: 60px;
	background-color: #667788;
}
footer .foot .foot_1{
	float: left;
	padding: 20px 0 0 100px;
}
footer .foot .foot_r a{
	float: right;
	padding: 20px 100px 0 0;
	color: #fff
}